<div class="modal fade" id="addPlayerModal" tabindex="-1" role="dialog" aria-labelledby="addPlayerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPlayerModalLabel">Add Player</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddPlayer(addForm)">
          <div class="formor-group">
            <label for="add_name">Name</label>
            <input type="text" ngModel name="name" class="form-control" id="add_name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="add_lastName">Last Name</label>
            <input type="text" ngModel name="lastName" class="form-control" id="add_lastName" placeholder="Last Name" required>
          </div>
          <div class="form-group">
            <label for="add_email">Email Address</label>
            <input type="email" ngModel name="email" class="form-control" id="add_email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="add_dob">Date of birth</label>
            <input type="date" ngModel name="dob" class="form-control" id="add_dob" placeholder="Dob" required>
          </div>
          <div class="form-group">
            <label for="add_height">Height</label>
            <input type="number" ngModel name="height" class="form-control" id="add_height" placeholder="Height" required>
          </div>
          <div class="form-group">
            <label for="add_weight">Weight</label>
            <input type="number" ngModel name="weight" class="form-control" id="add_weight" placeholder="Weight" required>
          </div>
          <div class="form-group">
            <label for="add_picture">Picture</label>
            <input type="text" ngModel name="picture" class="form-control" id="add_picture" placeholder="Picture">
          </div>
          <div class="modal-footer">
            <button type="button" id="add-player-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
